body{
    background-color: chocolate;
    text-align: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    text-align: center;
    border-radius: 10rem;
    border: black;
    font-size: large;
    font-size: 8vmin;
    padding-left: 35%;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 8vmin;
    color: red;
    background-color: #ffffff;
}

#resetbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: burlywood;
    border-radius: 1rem;
}

#newbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: burlywood;
    border-radius: 1rem;
}

.msg-container{
    background-color: bisque;
    
    height: 100vmin;
    margin-bottom: 20px;
}

.hide{ 
        display: none;
}